* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.container {
  max-width: 1440px;
  width: 100%;
  height: 100%;

  display: flex;
  background: #191816;
}
.lg {
  padding: 42px;
}
.lg img {
  width: 115px;
  height: 46px;
}
.login {
  width: 572px;
  height: 512px;

  margin: 194px -133px;

  background: #24221F;
  border-radius: 4px;
}
header {
  width: 334px;
  height: 64px;
  
  margin: 55px 119px;  
}
.login header img {
  width: 24px;
  height: 24px;
  vertical-align: -10%;
}
.login header h1 {
  width: 176px;
  height: 36px;
  margin-left: 10px;
  display: inline;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;

  color: #D4CCB6;
}
.login header p {
  width: 334px;
  height: 23px;
  margin-top: 5px;
  margin-left: 2px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #AFB6C2;
}
label {
  margin-left: 119px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #AFB6C2;
}

.group-input {
  width: 335px;
  height: 44px;
  margin-top: 5px;
  margin-left: 119px;
  margin-bottom: 20px;
  
  display: flex;

  background-color: #24221F;
  border: 1px solid #868686;
  border-radius: 4px;
}
.group-input img {
  width: 20px;
  height:20px;

  margin: auto 0.49rem;
}
.group-input input {
  width: 100%;
  background-color: #24221F;
  border: none;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  
  color: #AFB6C2;
}
.group-input:focus-within {
  border: 2px solid #FFC632;
  border-radius: 4px;
}
.group-input:focus-within #email-focus {
  content: url(./src/assets/mail-focus.svg);
}
.group-input:focus-within #password-focus {
  content: url(./src/assets/lock-focus.svg);
}
.email:focus-within #email,
.password:focus-within #password {
  color: #FFC632;
}
.help-form {
  position: relative;
  width: 339px;
  height: 22px;
  margin-left: 119px;
  margin-top:20px;

  display: flex;
  align-items: center;
  gap: 8px;
}
.help-form input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.ckeckmark {
  cursor: pointer;
  width: 21px;
  height:21px;

  background-color: #24221F;
  border: 1px solid #868686;
  border-radius: 4px;
}
.help-form input:checked ~ .ckeckmark {
  content: url(./src/assets/check.svg);

  background-color: #FFC632;
  border: 2px solid #FFC632;
  border-radius: 4px;
}
.help-form label {
  position: relative;
  width: 81px;
  height: 19px;
  margin: 0;

  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #A9AFB9;
}
.help-form a {
  width: 153px;
  height: 21px;
  margin-left: 65px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;

  color: #FFC632;
}
button {
  width: 334px;
  height: 51px;
  margin-left: 119px;
  margin-top: 20px;

  background-color: #FFC632;
  border: none;
  border-radius: 4px;
}
span {
  width: 71px;
  height: 27px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  color: #473404;
}
.reset {
  width: 236px;
  height: 21px;
  margin-left: 167px;
  margin-top: 14px;
}
.reset a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  
  color: #FFC632;
}
.image img {
  width: 635px;
  height: 900px;
  margin-left: 210px;
}